#searchbar{ 
	margin-left: 35%; 
	padding:15px; 
	border-radius: 10px;
} 

#list_div {
	height: flex;
	text-align: center;
	width: 80%;
	margin: 0 auto;
}

.img {
	width: 45%;
	
	text-align: center;
	border-radius: 5px;
	margin: 1%;
}

input[type=text] { 
	width: 30%; 
	-webkit-transition: width 0.15s ease-in-out; 
	transition: width 0.15s ease-in-out; 
} 

#list{ 
	font-size: 1.5em;
    margin-left: 90px;

    display: table-cell;
} 

.animals{ 
display: list-item;	 
} 

#search_back{
	background: #e62ecf14;
	height: 55px;
	
}

#searchbar{
	margin-left: 35%;
    padding: 15px;
    margin-top: 7px;
    border-radius: 10px;
    width: 33%;
    background: space;
    color: white;

}


a {
  color: #dc006c;
}
small {
  color: #333;
}
.logo {
    margin-top: -47px;
    height: 28px;
    font: 44px 'Arial Narrow', sans-serif;
    color: #fefefe;
    text-transform: uppercase;
    letter-spacing: -4px;
    margin-left: 44%;
}

/* stuff for both words */
.logo span {
  position: relative;
}


/* stuff for 1st word */
.logo .word1 {
  color: #dc006c;
  margin-right: -20px;
  transform: rotateY(180deg);/* using Prefix free */
  display: inline-block;/* required for transform */
  z-index: 10;/* stack 1st word on top */
}
.logo .word1:before {
  right: -4px;/* would be left, but we flipped the word */
  top: -9px;
  border-top-color: #282828;/* match background color */
  border-right-color: #282828;/* would be left, but we flipped the word */
}
.logo .word1:after {
  left: 17px;/* would be right, but we flipped the word */
  bottom: -15px;
  border-bottom-color: #282828;
  border-left-color: #282828;/* would be right, but we flipped the word */
}

/* stuff for 2nd word */
.logo .word2 {
  z-index: 0;/* stack 2nd word below */
}
.logo .word2:before {
  left: -4px;
  top: -6px;
  border-top-color: #282828;
  border-left-color: #282828;
}
.logo .word2:after {
  right: -4px;  
  bottom: 4px;
  border-bottom-color: #282828;
  border-right-color: #282828;
}















