#searchbar{ 
	margin-left: 35%; 
	padding:15px; 
	border-radius: 10px;
} 

#list_div {
	height: flex;
	text-align: center;
	width: 80%;
	margin: 0 auto;
}

.img {
	width: 25%;
	height: 25%;
	text-align: center;
	border-radius: 5px;
	margin: 1%;
}

input[type=text] { 
	width: 30%; 
	-webkit-transition: width 0.15s ease-in-out; 
	transition: width 0.15s ease-in-out; 
} 

#list{ 
	font-size: 1.5em; 
	margin-left: 90px; 
} 

.animals{ 
display: list-item;	 
} 
